.pp{
    border-bottom: 10px;
    background-color: aqua;
}

*{
    background-image: url('/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
body{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.login{
    background: rgba(0, 0 ,0 , 0.6);
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
.login h2{
    margin-bottom: 20px;
}
.login label{
    display: block;
    margin: 10px 0px 5px;
    text-align: left;
}
.login input[type="password"], 
.login input[type="email"], 
.login input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.login input[type="submit"] {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-weight: bold;
}