.profile{
    display: flex;
    /* align-items: center; */
    /* gap: 20px; */
}
.profile #d{
    border: 3px solid black;
    width: 550px;
    height: 400px;
} 
.profile .content{
    text-align: center;
}
#d{
    margin: 50px;
}
.content{
    margin: 50px;
    margin-right: 100px;
}